<p id="notice"><%= notice %></p>

<p>
  <strong><%= I18n.t('dictionary.title') %>:</strong>
  <%= @book.title %>
</p>

<p>
  <strong><%= I18n.t('dictionary.memo')%>:</strong>
  <%= @book.memo %>
</p>

<p>
  <strong><%= I18n.t('dictionary.author') %>:</strong>
  <%= @book.author %>
</p>

<p>
  <strong><%= I18n.t('dictionary.picture') %>:</strong>
  <%= image_tag(@book.picture_url) if @book.picture.present? %>
</p>

<%= link_to (I18n.t('dictionary.edit')), edit_book_path(@book) %> |
<%= link_to (I18n.t('dictionary.back')), books_path %>
